.section-title-box{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: 0 auto;
    transform: translateY(7px);
}

.section-title-box svg{
    width: 2rem;
    padding: 10px;
    transform: translateY(-2px);
}

.section-title{
    font-size: 2.8rem;
}
.title-bottom{
    width: 9vw;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1100px) {
    .section-title-box svg{
        width: 2rem;
    }
    .section-title{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 900px) {
    .section-title-box svg{
        width: 1.5rem;
    }
    .section-title{
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 720px) {
    .section-title-box{
        max-width: 65vw;
    }
    .section-title-box svg{
        width: 1.3rem;
        transform: translateY(3px);
    }
    .section-title{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 460px) {
    .section-title-box{
        max-width: 90vw;
    }
    .section-title-box svg{
        width: 1rem;
        transform: translateY(0px);
    }
    .section-title{
        font-size: 1.5rem;
    }
}