body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  width: 0.8em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.719);
  background: rgb(24, 19, 19);
}
 
body::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid grey;
  border-radius: 50px;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: rgb(204, 204, 204);
}

::selection {
  color: black;
  background: rgb(204, 204, 204);
}